<!doctype html>
<title>EM minimal flask app</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<nav>
  <h1 class="display-4 ml-5 text-center text-secondary">EM minimal flask app</h1>
</nav>
<section class="content text-center text-secondary">
  Hello, world!
</section>
<footer class="footer text-center text-monospace text-muted">matohin@gmail.com</footer>
</section>